<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <form href="#">
    <h1>Formulario Login</h1>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <input type="submit" value="Enviar">
    <a routerLink="/recuperar-password">¿Olvidaste tu Contraseña?</a>
    <p><a routerLink="/registro">Registrarse</a></p>

  </form>

</body>
</html>
