    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4; /* Color de fondo claro */
      color: #333; /* Color de texto oscuro */
    }

    form {
      width: 40%; /* Ancho del formulario */
      margin: 20px auto; /* Centrar el formulario en la página */
      padding: 20px;
      background-color: #fff; /* Fondo del formulario */
      border-radius: 8px; /* Bordes redondeados */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    }

    h5{
        text-align: center;
    }

    label {
      display: block;
      margin-bottom: 8px;
      color: #555; /* Color de texto más claro para las etiquetas */
    }

    input, textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
      border: 1px solid #ccc; /* Borde del campo de entrada */
      border-radius: 4px;
    }

    input[type="submit"] {
      background-color: #457fa0; /* Color de fondo para el botón */
      color: #fff; /* Color de texto blanco para el botón */
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #e4132f; /* Cambio de color al pasar el ratón sobre el botón */
    }
      
  h1 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
  }

  a {
    height: 40px;
    text-align: center;
  }

  p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
  }